[submodule "datascience/handbook"]
	path = datascience/handbook
	url = https://github.com/jakevdp/PythonDataScienceHandbook.git
[submodule "datascience/ipython"]
	path = datascience/ipython
	url = https://github.com/donnemartin/data-science-ipython-notebooks.git
